{% extends '@BundleSetting/templates/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}

    {% set tabs = [
        {'name': 'General Info', 'description': ''},
    ] %}

    {% embed template_from_string(include("@BundleSetting/templates/components/tabs.html.twig")) %}

        {% block tab_0 %}

            <div class="row">

                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>


            </div>

        {% endblock tab_0 %}

        {% block tab_1 %}
            dsadsa
        {% endblock tab_1 %}



    {% endembed %}
{% endblock sonata_tab_content %}