{% extends '@BundleSetting/templates/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}

    {% set tabs = [
        {'name': 'General Info', 'description': ''},
        {'name': 'Modules and Permissions', 'description': ''},
    ] %}

    {% embed template_from_string(include("@BundleSetting/templates/components/tabs.html.twig")) %}

        {% block tab_0 %}

            <div class="row">

                <div class="col-md-6">
                    {{ form_row(form.name, { 'label': 'Name' }) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-md-12">
                    {{ form_row(form.password) }}
                </div>

            </div>

        {% endblock tab_0 %}

        {% block tab_1 %}
            modules
        {% endblock tab_1 %}



    {% endembed %}
{% endblock sonata_tab_content %}