{% extends "emails/base_email.html.twig" %}


{% block title %}

    Recuperação de Acesso

{% endblock title %}


{% block body %}
    <h3 style="Margin:0;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;mso-line-height-rule:exactly;letter-spacing:0;font-size:18px;font-style:normal;font-weight:bold;line-height:22px;color:#333333">
        Olá {{ cliente.nomeCompleto }}, <br><br>
    </h3>


    Foi solicitado a recuperação de acesso de sua conta ao portal do cliente.

    <br><br>
    Sua nova senha: <b>{{ novaSenha }}</b>

    <br><br>

    Acesse o <a target="_blank" href="{{ empresa.urlCliente }}">portal do cliente</a>.

{% endblock body %}